.event-form-container {
  max-width: 800px;
  margin: 200px auto;
  padding: 20px;
  background-color: #efd4ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-columns {
  display: flex;
}

.form-column {
  flex: 1;
  padding: 10px;
}

input,
textarea,
select {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
}

.button-container {
  text-align: center;
}

.button {
  width: 33%;
  padding: 15px 20px;
  background-color: #8e56b1;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #764095;
}
